body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e2f;
  color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #29293d;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  box-shadow: opx 2px 5px rgba(0, 0, 0, 0.5);
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  flex-wrap: wrap;
  align-content: space-evenly;
  gap: .9rem;
  columns: auto 10rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

h2 {
  text-align: center;
  margin-top: 1.2rem;
}
