.add-account-container {
    background-color: #29293d;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-account-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.add-account-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1e1e2f;
    color: #ffffff;
}

input::placeholder {
    color: #aaa;
}

input:focus {
    border-color: #00bcd4;
    outline: none;
}

.add-account-button {
    padding: 10px 20px;
    background-color: #00bcd4;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  background-color 0.3s;
}

.add-account-button:hover {
    background-color: #0097a7;
}