.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.dashboard-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.chart-item {
    width: 45%;
    min-width: 300px;
    background-color: #29293d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.chart-item h3 {
    text-align: center;
    margin-bottom: 10px;
}